<br>
<div class="footer" >
    <p>Information provided by:</p>
        <h3><img src="/img/api.jpg" width=100 height= 50 style=vertical-align:middle alt="logo"> 
            Rapid API's Covid-19 data API
        </h3>
    <p>Images provided by:</p>
        <h3><img src="/img/pixa.png" width=50 height= 50 style=vertical-align:middle alt="logo"> 
            Pixabay 
        </h3> 
</div>