<div class="div"></div>
<ul> 
    <li><a href="https://rapidapi.com/marketplace">Rapid API</a></li>
    <li><a href="https://pixabay.com/">Pixabay</a></li>
    <div class="right">
         <li><a href="/countries">Back to Countries</a></li>
         <li><a href="/logout">Logout</a></li> 
    </div>
</ul>